// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include <dt-bindings/display/rockchip_vop.h>
#include "rk3568.dtsi"
#include "ido-som3568.dtsi"
#include "rk3568-linux.dtsi"

/ {
    	model = "Rockchip RK3568 IDO-EVB3568V1 V1.1";
	compatible = "rockchip,ido-rk3568-evb3568v1", "rockchip,rk3568";

	vcc_phy: vcc-phy-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_phy";
		regulator-always-on;
		regulator-boot-on;
	};
	
	vcc2v8_dvp: vcc2v8-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc2v8_dvp";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		vin-supply = <&vcc3v3_sys>;
	};

	vcc1v8_dvp: vcc1v8-dvp {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_dvp";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc3v3_sys>;
	};

	vcc1v5_dvp: vcc1v5-dvp {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v5_dvp";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		vin-supply = <&vcc3v3_sys>;
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		// clocks = <&rk809 1>;
		// clock-names = "ext_clock";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;

		/*
		 * On the module itself this is one of these (depending
		 * on the actual card populated):
		 * - SDIO_RESET_L_WL_REG_ON
		 * - PDN (power down when low)
		 */
		post-power-on-delay-ms = <200>;
		reset-gpios = <&gpio3 RK_PD4 GPIO_ACTIVE_LOW>;
		status = "okay";
	};

	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		pinctrl-0 = <&wifi_host_wake_irq>;
		WIFI,host_wake_irq = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;
		wifi_chip_type = "ap6335";
		status = "okay";
	};

	wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		clocks = <&hym8563>;
		clock-names = "ext_clock";
		//wifi-bt-power-toggle;
		uart_rts_gpios = <&gpio2 RK_PB1 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart8m0_rtsn>;
		pinctrl-1 = <&uart8_gpios>;
		BT,reset_gpio    = <&gpio3 RK_PA7 GPIO_ACTIVE_HIGH>;
		BT,wake_gpio     = <&gpio3 RK_PA2 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio3 RK_PA1 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

    backlight: backlight {
        status = "disabled";
		compatible = "pwm-backlight";
		pwms = <&pwm4 0 25000 0>;
		brightness-levels = <
			  0  20  20  21  21  22  22  23
			 23  24  24  25  25  26  26  27
			 27  28  28  29  29  30  30  31
			 31  32  32  33  33  34  34  35
			 35  36  36  37  37  38  38  39
			 40  41  42  43  44  45  46  47
			 48  49  50  51  52  53  54  55
			 56  57  58  59  60  61  62  63
			 64  65  66  67  68  69  70  71
			 72  73  74  75  76  77  78  79
			 80  81  82  83  84  85  86  87
			 88  89  90  91  92  93  94  95
			 96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <200>;
	};

	backlight1: backlight1 {
        status = "disabled";
		compatible = "pwm-backlight";
		pwms = <&pwm5 0 25000 0>;
		brightness-levels = <
			  0  20  20  21  21  22  22  23
			 23  24  24  25  25  26  26  27
			 27  28  28  29  29  30  30  31
			 31  32  32  33  33  34  34  35
			 35  36  36  37  37  38  38  39
			 40  41  42  43  44  45  46  47
			 48  49  50  51  52  53  54  55
			 56  57  58  59  60  61  62  63
			 64  65  66  67  68  69  70  71
			 72  73  74  75  76  77  78  79
			 80  81  82  83  84  85  86  87
			 88  89  90  91  92  93  94  95
			 96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <200>;
	};

    leds: leds {
		status = "okay";
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 =<&leds_gpio>;

		heartbeat {
			gpios = <&gpio0 RK_PC7 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		usb_host1_pwr {
			gpios = <&pca9539 0 GPIO_ACTIVE_HIGH>;
            default-state="on";	
		};

		usb_hub_rst {
			gpios = <&pca9539 1 GPIO_ACTIVE_HIGH>;
            default-state="on";
		};

		usb_host3_pwr {
			gpios = <&pca9539 2 GPIO_ACTIVE_HIGH>;
            default-state="on";	
		};

		usb_fe_d1_pwr {
			gpios = <&pca9539 3 GPIO_ACTIVE_HIGH>;
            default-state="on";	
		};

		usb_fe_d2_pwr {
			gpios = <&pca9539 4 GPIO_ACTIVE_HIGH>;
            default-state="on";	
		};
		
		usb_fe_d3_pwr {
			gpios = <&pca9539 5 GPIO_ACTIVE_HIGH>;
            default-state="on";	
		};

		usb_fe_d4_pwr {
			gpios = <&pca9539 6 GPIO_ACTIVE_HIGH>;
            default-state="on";	
		};

		usb_fe_d5_pwr {
			gpios = <&pca9539 12 GPIO_ACTIVE_HIGH>;
            default-state="on";	
		};

		lte_pwr {
			gpios = <&pca9539 13 GPIO_ACTIVE_HIGH>;
            default-state="on";	
		};

		lte_rst {
			gpios = <&gpio3 RK_PA4 GPIO_ACTIVE_HIGH>;
            default-state="off";	
		};

		lvds_en {
			gpios = <&pca9539 10 GPIO_ACTIVE_HIGH>;
            default-state="on";	
		};

		lvds_on {
			gpios = <&pca9539 11 GPIO_ACTIVE_HIGH>;
            default-state="on";	
		};

		edp_on {
			gpios = <&pca9539 14 GPIO_ACTIVE_HIGH>;
            default-state="on";	
		};
	};
};

&pwm4 {
	status = "disabled";
};

&pwm5 {
	status = "disabled";
};

&csi2_dphy_hw {
	status = "okay";
};

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam0: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&ucam_out0>;
				data-lanes = <1 2>;
			};

		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&isp0_in>;
			};
		};
	};
};

&rkisp {
	status = "okay";
};

&rkisp_mmu {
	status = "okay";
};

&rkisp_vir0 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp0_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&csidphy_out>;
		};
	};
};

&i2c1 {
	status = "okay";

	pca9539: pca9539@76 {
		compatible = "nxp,pca9539";
		reg = <0x76>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
        vcc-supply = <&vcc3v3_sys>;
		//interrupt-parent = <&gpio4>;
		//interrupts = <RK_PC4 IRQ_TYPE_EDGE_FALLING>;
		status = "okay";
	};

	hym8563:hym8563@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "hym-xin32k";
		status = "okay";
	};
};

&i2c2 {
	status = "okay";

	mpu6500@68 {
		status = "okay";
		compatible = "invensense,mpu6500";
		reg = <0x68>;
		//irq-gpio = <&gpio3 RK_PD2 IRQ_TYPE_EDGE_RISING>;
		mpu-int_config = <0x10>;
		mpu-level_shifter = <0>;
		mpu-orientation = <0 1 0 1 0 0 0 0 1>;
		orientation-x= <0>;
		orientation-y= <0>;
		orientation-z= <1>;
		mpu-debug = <1>;
	};
};

&i2c4 {
	status = "okay";

	ov5648: ov5648@36 {
		status = "okay";
		compatible = "ovti,ov5648";
		reg = <0x36>;
		clocks = <&cru CLK_CIF_OUT>;
		clock-names = "xvclk";
		avdd-supply = <&vcc2v8_dvp>;
		dovdd-supply = <&vcc1v8_dvp>;
		dvdd-supply = <&vcc1v5_dvp>;
		
		power-domains = <&power RK3568_PD_VI>;
		pinctrl-names = "default";
		pinctrl-0 = <&cif_clk>;
		//reset pin control by hardware,used this pin switch to mipi input
		//1->2LANE(LANE 0&1) FRONT camera, 0->4LANE REAR camera
		reset-gpios = <&gpio3 RK_PA3 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio2 RK_PC1 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		//rockchip,camera-module-name = "HS5885-BNSM1018-V01";
		//rockchip,camera-module-lens-name = "default";
		//rockchip,camera-module-name = "LMM248";
		//rockchip,camera-module-lens-name = "YXC-M804A2";

		rockchip,camera-module-name = "default";
		rockchip,camera-module-lens-name = "default";
		port {
			ucam_out0: endpoint {
				remote-endpoint = <&mipi_in_ucam0>;
				data-lanes = <1 2>;
			};
		};
	};
};


/*USB3.0 controller*/
&usbdrd_dwc3 {
    dr_mode = "otg";
	extcon = <&usb2phy0>;
	status = "okay";
};

/*USB3.0 OTG PHY*/
&combphy0_us {
	status = "okay";
};

/*USB 3.0 HOST 与 SATA1 复用*/
&usbhost_dwc3 { 
    phys = <&u2phy0_host>; /* 配置 phys 属性只引用 usb 2.0 phy 节点 */ 
    phy-names = "usb2-phy"; 
	maximum-speed = "high-speed"; /* 配置 dwc3 控制器最高支持 high speed */ 
    status = "okay"; 
};

/*配置给 SATA1*/
&combphy1_usq { 
    rockchip,dis-u3otg1-port; /* 配置 dwc3_1 控制器最高支持 high speed */ 
    status = "okay"; 
};

&sata1 {
    status = "okay";
};

/* PCIE */
&combphy2_psq {
	status = "okay";
};

&uart0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_xfer>;
};

&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart3m1_xfer>;
};

&uart4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart4m1_xfer>;
};

&uart5 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart5m1_xfer>;
};

&uart7 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart7m1_xfer>;
};

&uart8 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart8m0_xfer &uart8m0_ctsn>;
};

&mdio0 {
	rgmii_phy0: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
	};
};

&mdio1 {
	rgmii_phy1: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
	};
};

&gmac0 {
	phy-mode = "rgmii";
	//clock_in_out = "output";
	clock_in_out = "input";
	
	snps,reset-gpio = <&gpio3 RK_PA5 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
	assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>, <&cru CLK_MAC0_2TOP>;
	assigned-clock-rates = <0>, <125000000>;

	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim
		     &gmac0_tx_bus2
		     &gmac0_rx_bus2
		     &gmac0_rgmii_clk
		     &gmac0_rgmii_bus>;

	tx_delay = <0x2e>;
	rx_delay = <0x2a>;

	phy-handle = <&rgmii_phy0>;
	phy-supply = <&vcc_phy>;
	status = "okay";	
};

&gmac1 {
	phy-mode = "rgmii";
	//clock_in_out = "output";
	clock_in_out = "input";

	snps,reset-gpio = <&gpio3 RK_PA6 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	
	snps,reset-delays-us = <0 20000 100000>;

	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>, <&cru CLK_MAC1_2TOP>;
	assigned-clock-rates = <0>, <125000000>;
	
	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m1_miim
		     &gmac1m1_tx_bus2
		     &gmac1m1_rx_bus2
		     &gmac1m1_rgmii_clk
		     &gmac1m1_rgmii_bus>;

	tx_delay = <0x3d>;
	rx_delay = <0x23>;

	phy-handle = <&rgmii_phy1>;
	phy-supply = <&vcc_phy>;
	status = "okay";
};

&sdmmc2 {
	max-frequency = <150000000>;
	supports-sdio;
	bus-width = <4>;
	disable-wp;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc2m0_bus4 &sdmmc2m0_cmd &sdmmc2m0_clk>;
	sd-uhs-sdr104;
	status = "okay";
};

&can1 {
	assigned-clocks = <&cru CLK_CAN1>;
	assigned-clock-rates = <150000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&can1m0_pins>;
	status = "okay";
};

&can2 {
	assigned-clocks = <&cru CLK_CAN2>;
	assigned-clock-rates = <150000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&can2m0_pins>;
	status = "okay";
};

&rk809_codec {
	spk-ctl-gpios = <&pca9539 8 GPIO_ACTIVE_LOW>;			
	spk-mute-gpios = <&pca9539 9 GPIO_ACTIVE_LOW>;//Speaker mute
	spk-mute-delay-ms = <30>;
};

&pinctrl {
	cam {
		camera_pwr: camera-pwr {
			rockchip,pins =
				/* camera power en */
				<2 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	headphone {
		hp_det: hp-det {
			rockchip,pins = <3 RK_PC2 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <3 RK_PD4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <3 RK_PD5 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	wireless-bluetooth {
		uart8_gpios: uart8-gpios {
			rockchip,pins = <3 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	gpio-leds {
		leds_gpio: leds-gpio {
			rockchip,pins =
				<0 RK_PC7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	goodix_gpio {
		gtxx_gpio: gtxx-gpio {
            rockchip,pins =
                <3 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>,
                <3 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
        };
	};
};

&pwm7 {
	status = "disabled";
};
